name: Update Audio List

on:
  schedule:
    # Alle 2 Stunden (zur vollen Stunde)
    - cron: '0 */2 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  refresh-data:
    runs-on: ubuntu-latest
    steps:
      - name: Repository auschecken
        uses: actions/checkout@v3

      - name: Verzeichnis laden
        run: |
          # Wir tarnen uns als Browser (-A), damit der Server uns nicht blockt
          curl -sL -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64)" "https://mp3.erzabtei.de/" > directory.html
          
          # Prüfen ob Datei existiert und nicht leer ist
          if [ ! -s directory.html ]; then
             echo "FEHLER: Download fehlgeschlagen (Datei leer)."
             exit 1
          fi
          
          echo "Download erfolgreich. Größe:"
          ls -lh directory.html

      - name: Speichern (Commit & Push)
        run: |
          git config user.name "Erzabtei Bot"
          git config user.email "bot@github.com"
          git add directory.html
          git commit -m "Update directory listing [Auto]" || echo "Keine neuen Daten"
          git push
